pandas==1.2.5
streamlit==0.86.0
altair==4.1.0
streamlit==0.86.0
wget==3.2
matplotlib==3.3.4
timm==0.4.12
click==7.1.2
torch==1.9.0
tqdm==4.61.2
numpy==1.19.5
faiss==1.5.3
Pillow==8.3.1
PyYAML==5.4.1
scikit_learn==0.24.2
torch==1.11.0+cu113
torchvision==0.12.0+cu113
torchaudio==0.11.0
